* {
  font-size: 10px;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  @media (min-width: 2000px) {
    max-width: 60%;
  }
}

button {
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

.white-text {
  color:white;
}

.heading-1 {
  font-family: titulos;
  font-size: 6em;
  font-weight: bold;
  margin-bottom: 48px;
  max-width: none;
}

.heading-1 {
  font-size: 5.733em;
}

.heading-2 {
  font-family: titulos;
  font-size: 4.8em;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 32px;
  max-width: none;
}

.heading-2 {
  font-size: 4.778em;
}

.heading-3 {
  font-family: titulos;
  font-size: 2.4em;
  font-weight: 700;
  margin-bottom: 24px;
  max-width: none;
}

.heading-3 {
  font-size: 3.981em;
}

.heading-4 {
  font-family: titulos;
  font-size: 3.318em;
  font-weight: 700;
  margin-bottom: 24px;
  max-width: none;
}

.heading-5 {
  font-family: titulos;
  font-size: 2.765em;
  font-weight: 700;
  margin-bottom: 24px;
  max-width: none;
}

.heading-6 {
  font-family: titulos;
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 24px;
  max-width: none;
}

.text-1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.92em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.text-2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.text-3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.333em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.text-4 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 991.98px) {
  .heading-1 {
    font-size: 3.318em;
  }

  .heading-2 {
    font-size: 2.765em;
  }

  .heading-3 {
    font-size: 2.304em;
  }

  .heading-4 {
    font-size: 1.92em;
  }

  .heading-5 {
    font-size: 2.765em;
  }

  .heading-6 {
    font-size: 1.6em;
  }

  .button-1 {
    font-size: 1.92em;
  }

  .text-1 {
    font-size: 1.6em;
  }

  .text-2 {
    font-size: 1.4em;
  }

  .text-3 {
    font-size: 1.111em;
  }
}